<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php">
  <testsuites>
    <testsuite name="Quest Test Suite">
      <directory>tests/oscarpalmer</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist>
      <directory suffix=".php">src/oscarpalmer</directory>
    </whitelist>
  </filter>
</phpunit>